body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  width: 100%;
  table-layout: fixed;
  overflow-wrap: break-word;
}

th {
  text-align: left;
  border-bottom: 1px solid black;
  margin-bottom: 2px;
}

.header-list {
  display: inline-block;
}
